body {
    margin: 5px;
    background-color: bisque;
}

main {
    display: flex;
    background-color: bisque;
}

section {
    margin-top: 10px;
    background-color: bisque;
}

.header {
    display: flex;
    justify-content: center;
    background-color: bisque;
}

.search-panel {
    width: 25%;
    margin: 10px 20px 0 10px;
    padding: 10px 0 10px 10px;
    background-color: greenyellow;
}

.search-button-panel {
    margin-left: -52px;
}

.city-list-box {
    margin-top: 5px;
}

.city-name {
    width: 89%;
}

.results-panel {
    width: 75%;
    padding-bottom: 10px;
    visibility: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.current-conditions-panel {
    border: 1px solid rgb(172, 165, 165);
    border-right: none;
    padding-left: 10px;
    padding-bottom: 30px;
}

.name-block,
.uv-index-block {
    display: flex;
    align-items: center;
}

#uv-index {
    margin-left: 5px;
    padding: 5px 10px;
}

.forecast-panel {
    padding-top: 50px;
}

.container {
    display: inline;
}

.card-header,
.card-body {
    text-align: center;
}

.card-header {
    background-color: rgb(11, 72, 11);
    color: white;
}

.card-body {
    background-color: lightblue;
}



/* Classes Added to Elements */

.favorable {
    background-color: rgb(42, 173, 42);
    color: grey;
}

.moderate {
    background-color: rgb(54, 214, 54);
    color: grey;
}

.severe {
    background-color: rgb(7, 70, 15);
    color: grey;
}


/* Viewports Styling*/

@media screen and (max-width: 575px) {
    .search-panel {
        width: 40%;
    }

    .search-button-panel {
        margin-left: 0px;
    }

    .search-panel h3 {
        font-size: 15px;
    }

    .form-row {
        display: block;
        text-align: center;
    }

    .results-panel {
        width: 60%;
    }
}